.vscode
.DS_Store
__MACOSX
.idea/
*.swp
*.swo
Thumbs.db
*.log

backend/.venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd

frontend/vite-project/node_modules/
frontend/vite-project/dist/
frontend/vite-project/.turbo/
frontend/vite-project/.eslintcache/
frontend/vite-project/.parcel-cache/
frontend/vite-project/.next/
frontend/vite-project/yarn.lock
frontend/vite-project/pnpm-lock.yaml
frontend/vite-project/package-lock.json


dist/
build/
coverage/
.env
.env.local
.env.production
.env.test
# Local Netlify folder
.netlify

